#arrowDown {
    animation-name: arrowBounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes arrowBounce {
    0% {
        transform: translateY(-7px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-7px);
    }
}